body {
  width: 640px;
  margin: auto;
}
div > div{
  border: 0.1rem solid blue;
  padding: 2rem;
  background-color: lightblue;
}
.tabla-de-precios, .galeria-fotografica, .chat {
  display: flex;
  border: 0.1rem solid brown;
  background-color: lightyellow;
  width: 640px;
  padding: 1rem;
}
.tabla-de-precios {
justify-content: space-around;
align-items: center;

}
.tabla-de-precios > div{
 width: 3.8rem;
 height: 10rem;
}
.tabla-de-precios .popular  {
  border: 0.1rem solid red;
  background-color: lightpink;
  height: 12rem ;
}

.galeria-fotografica {
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
}
.galeria-fotografica > div {
  width: 38%;
  height: 8rem;
  margin: 0.3rem;
}
.galeria-fotografica .destacado {
  width: 100%;
}
.chat {
  flex-flow: column wrap;
  justify-content: space-around;
}
.chat > div{
 width: 50%;
 height: 2rem;
 margin: 0.6rem;
}
.chat div:not(.otro-usuario) {
  align-self: flex-end;
  border: 0.1rem solid red;
  padding: 2rem;
  background-color: lightpink;
}
